<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifólio - Pedro Henrick</title>
    <link rel="stylesheet" href="\src\public\css\styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jockey+One&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="main-content">
        <div class="nav-bar">
            <a href="#header">Home</a>
            <a href="#sobre">Sobre mim</a>
            <a href="#">Meus projetos</a>
            <a href="#">Contato</a>
        </div>
    </div>

    <div class="pagina-inicial" id="header">
        <div class="main-content">
            <div class="informacoes">
                <div class="descricao">
                    <h1>Pedro Henrick</h1>
                    <h4>Desenvolvedor Front-End</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
        
                    <button>Descubra mais sobre mim</button>
                </div>
        
                <div class="imagem-perfil">
                    <img src="/src/public/img/foto_PedroPerfil.jpeg" alt="foto_PedroPerfil" width="300px" height="300px">
                </div>
            </div>
            
    
        </div>
    
        <div class="main-tecnologias">
            <div class="container-tecnologias">
                <div>
                    <h4>Tecnologias que uso</h4>
                </div>
        
                <div class="tecnologias">
                    <div class="tec">
                        <img src="/src/public/img/js.png" alt="js" width="50px" height="50px">
                        <p>JavaScript</p>
                    </div>
                    <div class="tec">
                        <img src="/src/public/img/react.png" alt="react" width="50px" height="50px">
                        <p>React</p>
                    </div>
    
                    <div class="tec">
                        <img src="/src/public/img/html-5.png" alt="html" width="50px" height="50px">
                        <p>HTML</p>
                    </div>
    
                    <div class="tec">
                        <img src="/src/public/img/css-3.png" alt="css" width="50px" height="50px">
                        <p>CSS</p>
                    </div>
    
                    <div class="tec">
                        <img src="/src/public/img/vue-js.png" alt="vue" width="50px" height="50px">
                        <p>VUE JS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <div class="sobre-mim" id="sobre">
        <div class="content-sobre">
            <h1>Sobre mim</h1>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>

    </div>


</body>

</html>